name: Deploy to PRODUCTION Server


on:
  push:
    branches:
      - master
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: unnecessary

      - name: Adding Known Hosts
        run: ssh-keyscan -p ${{ secrets.SSH_PORT }} -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          script: |
            # Временные переменные окружения для деплоя
            export INFISICAL_TOKEN="${{ secrets.INFISICAL_TOKEN }}"
            export INFISICAL_HOST="${{ secrets.INFISICAL_HOST }}"
            export ENVIRONMENT_SLUG="${{ secrets.ENVIRONMENT_SLUG }}"

            # Клонируем / обновляем проект
            if [ ! -d "apps/COMBINATOR" ]; then
                mkdir -p apps/COMBINATOR
            fi
            cd apps/COMBINATOR
            git reset --hard
            git clean -fd
            git pull || git clone https://username:${{ secrets.ACCESS_TOKEN }}@github.com/pyostr-traiding/COMBINATOR.git .

            # Запускаем сборку / docker
            docker compose up --build -d

            # Удаляем временные переменные
            unset INFISICAL_TOKEN
            unset INFISICAL_HOST
            unset ENVIRONMENT_SLUG

